body {
    overflow: hidden;
    scroll-behavior: unset;
    text-align: center;
    padding: 0;
    margin: 0;
}
#game {
    box-sizing: border-box;
    background-color: gray;
    height: 98vh;
    overflow: hidden;
    image-rendering: pixelated;
}

#animTest {
    background-color: #f8f8fe;
    image-rendering: pixelated;
}
